{{ $.Scratch.Add "additional_head_tags" "<link href=\"/fonts/font-linux.css\" rel=\"stylesheet\">" }}

{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" true }}

<div class="container">
	<div class="row">
		<div class="{{ if .Scratch.Get "sidemenu" }}col-lg-10 col-md-9 col-sm-8{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ .Title }}</h1>
			</div>
			{{ .Content }}
		</div>

<!--sidebar start-->
{{ $currentNode := . }}
<div class="col-lg-2 col-md-3 col-sm-4">
	<aside>
		<nav class="secondary">
			<!-- sidebar menu start-->
			<h3>All Platforms</h3>
			<div class="list-unstyled side-links list-group download-sidebar">
				{{ range where .Site.Sections "Title" "Download" }}
					{{ range .Pages }}
						{{ if .Params.distro }}
						<a class="list-group-item list-group-item-action{{ if  eq $currentNode . }} active{{ end }}" href="{{ .RelPermalink }}" >{{  safeHTML .Params.iconhtml }} {{ .Params.distro }}</a>
						{{ end }}
					{{ end }}
				{{ end }}
			</div>
			<!-- sidebar menu end-->
		</nav>
	</aside>
</div>
<!--sidebar end-->

	</div>
</div>

{{ partial "footer.html" . }}
